<h1>All Entries</h1>

<ul id="entries" class="food">
	<h2>Food</h2>
	<% @entries.each do |entry| %>
		<% if entry.entry_type == "Food" %>
			<li class="<%=entry.entry_type%>">
				<%= link_to entry.input, entry_path(entry), class:'entry_title', id: "entry_#{entry.id}" %>
			</li>
		<% end %>
	<% end %>
</ul>

<ul id="entries" class="symptoms">
	<h2>Symptoms</h2>
	<% @entries.each do |entry| %>
		<% if entry.entry_type == "Symptom" %>
			<li class="<%=entry.entry_type%>">
				<%= link_to entry.input, entry_path(entry), class:'entry_title', id: "entry_#{entry.id}" %>
			</li>
		<% end %>
	<% end %>
</ul>

<%= link_to "Create a New Entry", new_entry_path, class: 'new_entry' %>