<h1><%= @entry.entry_type %></h1>

<p>
	<%= link_to "Tags:", tags_path %>
	<% @entry.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>

<% if @entry.image.exists? %>
	<p><%= image_tag @entry.image.url(:medium) %></p>
<% end %>

<p class="entry"><%= @entry.input %></p>
<%= link_to "edit", edit_entry_path(@entry) %> | 
<%= link_to "delete", entry_path(@entry), method: :delete, data: {confirm: "Really delete the entry?"}%><br/><br/>

<h3>Comments (<%= @entry.comments.count %>)</h3>
<% if @entry.comments.count > 0 %>
	<%= render partial: 'entries/comment', collection: @entry.comments %>
<% else %>
	<h6>No Comments</h6>
<% end %>

<%= render partial: 'comments/form'%>
<%= link_to "<<Back to Entry List", entries_path %>